@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
  color: #333;
}
a {
  color: #0769bf;
}
.pageTitle {
  font-family: "Fredoka", sans-serif;
  text-transform: capitalize;
  font-size: 50px;
  line-height: 56px;
  font-weight: 700;
  color: #0769bf;
  padding: 40px 0 10px;
}
.colorBlack {
  color: #333333 !important;
}
.colorBlue {
  color: #0769bf !important;
}
.colorGreen {
  color: #297e29 !important;
}
.blueBtn {
  background-color: #0769bf;
  text-decoration: none;
  padding: 15px 22px;
  line-height: 1;
  color: #fff;
  border: unset;
  white-space: nowrap;
}
.form-control:focus {
  box-shadow: unset;
}

.manPageContent {
  background-image: url(assets/images/pagebg.webp);
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100% auto;
  min-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding-bottom: 40px;
}

.themeBreadCrumb {
  padding: 16px 0px 10px;
}

.themeBreadCrumb .breadcrumb-item a {
  color: #0769bf;
  text-decoration: none;
  font-weight: 500;
}

.themeBreadCrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #000;
  content: var(--bs-breadcrumb-divider, ">>");
  font-size: 9px;
  position: relative;
  top: 6px;
}
.themeBreadCrumb .breadcrumb-item.active {
  color: #0769bf;
  font-weight: 500;
}

.secTitle {
  text-transform: capitalize;
  font-size: 50px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
  color: #333333;
}
.secDescription {
  color: #1e73b3;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.newDesignSec .secHead {
  margin-bottom: 53px;
  padding-top: 30px;
}

.productCardImg {
  position: relative;
  overflow: hidden;
}

.productCardImg img {
  width: 100%;
  display: block;
  transition: opacity 0.35s ease;
}

.productCardImg .img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.productCard:hover .productCardImg .img1 {
  opacity: 0;
}

.productCard:hover .productCardImg .img2 {
  opacity: 1;
}

.productCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productCardName {
  font-size: 18px;
  font-weight: 600;
}

.themeBtn {
  background: #eeee22;
  border: 2px solid #eeee22;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 600;
  color: #000;
}
.cartNewPrdBtn {
  background-color: #32373c;
  border: 2px solid #32373c;
  font-size: 12px;
  padding: 10px 15px;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
}

.productCardPrice {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0769bf;
  margin-bottom: 10px;
}

.instaLink {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #276ac2;
  font-weight: 600;
  font-size: 50px;
  color: #7f54b3;
  margin: 30px 0;
}
.instaLink a {
  color: #7f54b3;
  text-decoration: underline;
}

.footerCopyright {
  text-align: center;
  margin: 0 0;
  padding: 20px 0;
  color: #6d6d6d;
  font-size: 17px;
}

.needSheetsContent h5 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}

.needSheetsContent {
  max-width: 767px;
  margin: 0 auto;
}

.newDesignSec .address {
  color: #1e73b3;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  min-height: 75px;
}
.newDesignSec .address a {
  color: #7f54b3;
  text-decoration: none;
}

.webForm .form-label {
  color: #1e73be;
  font-weight: 700;
  margin-bottom: 5px;
}

.webFormDiv {
  margin-bottom: 24px;
}
.webFormDiv .form-control {
  border: 3px solid #1e73be;
  background: #fff;
}
.webFormDiv .form-control:focus {
  box-shadow: unset;
}

.webForm {
  padding-bottom: 80px;
}

.webForm .themeBtn {
  padding: 15px 22px;
  font-size: 17px;
  border: 3px solid #eeee22;
}

.authForms {
  padding-bottom: 80px;
}

.authForms .nav-tabs {
  justify-content: center;
  border: unset;
}

.authForms .nav-tabs .nav-link {
  font-size: 50px;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  background: transparent;
  opacity: 0.25;
  color: #333333;
  position: relative;
}

.authForms .nav-tabs .nav-link.active {
  background-color: transparent;
  border: unset;
  color: #0769bf;
  opacity: 1;
}

.authForms .nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0769bf;
  transition: width 0.3s ease-in-out;
}

.authForms .nav-tabs .nav-link:not(.active)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #0769bf;
  transition: width 0.3s ease-in-out;
}

.authForms .nav-link:focus-visible {
  outline: unset;
  box-shadow: unset;
}

.authFormDiv .form-label {
  margin-bottom: 5px;
}
.required {
  color: #0769bf !important;
  font-weight: 600;
}
.authFormDiv .form-control {
  font-size: 14px;
  font-weight: 400;
}
.authFormDiv .form-control:focus {
  box-shadow: unset;
  border-color: #000;
}

.authFormDiv {
  margin-bottom: 16px;
}

.authForm p {
  margin-bottom: 22px;
}

.authFormBtn {
  width: 100%;
  padding: 15px 22px;
  background-color: #0769bf;
  margin-top: 50px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff;
  border: unset;
}
.authForm p a {
  color: #0769bf;
  text-decoration: none;
}
.authForm p a:hover {
  color: #212529;
}

.shopBtn {
  position: absolute;
  z-index: 3;
  bottom: -100%;
  width: 100%;
  left: 0;
  min-height: auto;
  border: unset;
  background-color: #0769bf;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0px;
  transition: 0.35s all ease;
}
.productCard:hover .shopBtn {
  bottom: 0;
}

.sassyPagination .page-link {
  margin: 0 8px;
  padding: 5px 16px;
  background-color: transparent;
  border: unset;
  height: 35px;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
}
.sassyPagination .page-link:hover {
  color: #0769bf;
}
.sassyPagination .active > .page-link,
.sassyPagination.page-link.active {
  color: #fff;
  background-color: #0769bf !important;
}
.sassyPagination .page-link:focus {
  box-shadow: unset;
}

.woocommerce-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}
.woocommerce-breadcrumb .breadcrumb-item a {
  color: #333333;
  text-decoration: none;
  font-weight: 400;
}
.woocommerce-breadcrumb .breadcrumb-item.currentPage a {
  opacity: 0.55;
}

.woocommerce-filters {
  display: flex;
  justify-content: space-between;
}

.woocommerce-filtersDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.woocommerce-ordering {
  color: #555;
  font-size: 14px;
  max-width: 207px;
  border-width: 2px;
}
.woocommerce-ordering:focus {
  box-shadow: unset;
  border-color: #0769bf;
}

.woocommerce-result-count {
  margin: 0;
}

.woocommerce-empty-cart {
  text-align: center;
  margin-bottom: 60px;
}
.woocommerce-empty-cart img {
  width: 60px;
}
.woocommerce-empty-cart-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Cart Items Style */
.cart-items-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.cart-items-header-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.cart-item {
  display: flex;
  gap: 16px;
}
.cart-item-img {
  flex: 0 0 100px;
}
.cart-item-img img {
  width: 100%;
}
.cart-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cart-item-content * {
  margin: 0;
}

.cart-item-name {
  text-decoration: none;
  line-height: normal;
}


.cart-item-qtySelector {
  display: flex;
  align-items: center;
  gap: 9px;
  width: max-content;
  border-radius: 4px;
  border: 1px solid #333;
  color: #333;
}
.cart-item-qtySelector button {
  border: 0;
  background-color: unset;
  padding: 10px 11px;
  line-height: 1;
  opacity: 0.55;
}
.cart-item-qty {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.cart-item-qtySelector p {
  font-weight: 600;
  line-height: 1;
  min-width: 60px;
  text-align: center;
}

.cart-item-details-name {
  font-weight: 600;
}

.cart-item-details {
  font-size: 14px;
}

.cart-item-price {
  font-size: 16px;
}

.cart-item-remove {
  text-decoration: underline;
  padding: 0;
  background: unset;
  border: unset;
  color: #333;
}
/* Cart Items Style */

/* Order Summery */
.couponsInputDiv {
}

.couponsInputDiv .form-floating {
  display: flex;
  gap: 10px;
}

.couponsInputDiv .coupanBtn {
  padding: 0 30px;
  background-color: #0769bf;
  color: #fff;
  border: 0;
}
.couponsInputDiv .accordion-button:not(.collapsed),
.couponsInputDiv .accordion-header,
.couponsInputDiv .accordion-item,
.couponsInputDiv .accordion-button {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
}
.couponsInputDiv .accordion-button:focus {
  box-shadow: unset;
}

.couponsInputDiv .accordion-button {
  padding: 0px 0px 0px;
  border: unset;
  box-shadow: unset;
  color: #333333;
}

.couponsInputDiv .accordion-body {
  padding: 16px 0 0;
}
.couponsInputDiv .form-control {
  padding: 24px 8px 8px !important;
}
.couponsInputDiv .form-control:focus {
  border-color: #0769bf;
  padding: 24px 8px 8px;
}
.couponsInputDiv .form-floating > label {
  padding-left: 8px;
}

.cartOrderSummery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartOrderSummery .cart-items-header-title {
  margin-bottom: 0;
  border-bottom: 1px solid #67676745;
  padding-bottom: 5px;
  color: #676767;
}
.cartOrderSummeryTotal {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  border-top: 1px solid #67676745;
  border-bottom: 1px solid #67676745;
  padding: 10px 0;
}

.paymentOptionsOr {
  text-align: center;
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.paymentOptionsOr:after,
.paymentOptionsOr:before {
  border-bottom: 1px solid #67676745;
  content: " ";
  flex: 1;
}

.proceedToCheckout {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0769bf;
  padding: 12px 10px;
  margin: 16px 0;
}
.proceedToCheckout:hover {
  filter: brightness(0.92);
}
/* Order Summery */

/* Checkout page Start */
.expressPayment-title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
}
.expressPayment-title:before,
.expressPayment-title:after {
  border-bottom: 1px solid #67676745;
  content: " ";
  flex: 1;
}

.divCheckoutForm-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  margin: 5px 0;
  line-height: 2;
}
.divCheckoutForm-description {
  font-size: 14px;
  margin-bottom: 30px;
}

.divCheckoutForm {
  margin-bottom: 48px;
}

.addPpartment {
  border: unset;
  background-color: unset;
  text-decoration: underline;
  color: #333;
}

.checkoutActionDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.returnToCart {
  color: #333333;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

.checkoutActionDiv .proceedToCheckout {
  border: 0;
  flex: 0 0 350px;
}

.order-summary-item__image img {
  width: 48px;
}

.checkoutOrderSummeryItem {
  display: flex;
  gap: 10px;
  padding: 16px 16px;
  border-bottom: 1px solid #1212121c;
}
.checkoutOrderSummeryItem .product-metadata {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}
.checkoutOrderSummeryItem .product-metadata p {
  color: #676767;
  font-size: 14px;
}
.checkoutOrderSummeryItem .product-metadata .price {
  font-weight: 600;
  color: #000;
}
.checkoutOrderSummeryItem .product-metadata * {
  margin: 0;
}
.checkoutOrderSummeryItem .order-summary-totalPrice {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
.checkoutOrderSummeryItem .product-details__name {
  font-weight: 600;
}
.checkoutOrderSummery {
  border: 1px solid #1212121c;
  border-radius: 10px;
}

.checkoutOrderSummery h4 {
  padding: 16px 16px 0;
  margin-bottom: 40px;
  color: #333333c7;
  font-size: 16px;
  font-weight: 400;
}

.checkoutOrderSummery .accordion {
  padding: 16px;
  border-top: unset;
  border-bottom: 1px solid #1212121c;
}

.checkoutOrderSummeryTotal {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #1212121c;
}
.checkoutOrderSummeryTotal * {
  margin: 0;
}
.checkoutOrderSummeryTotal h5 {
  font-weight: 600;
  font-size: 16px;
}
.checkoutOrderSummeryTotal p {
  font-weight: 400;
  font-size: 16px;
}
.checkoutOrderSummeryFinalTotal {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.checkoutOrderSummeryFinalTotal * {
  margin: 0;
}
.checkoutOrderSummeryFinalTotal h5 {
  font-weight: 600;
  font-size: 20px;
}
/* Checkout page End */

/* Wishlist Start */
.wishlistData table th {
  border-color: #ececec;
  font-size: 15px;
  font-weight: 600;
}
.wishlistData table th.product-remove,
.wishlistData table th.product-thumbnail {
  width: 60px;
}
.wishlistData table td {
  color: #6d6c6c;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}
.wishlistData table td a {
  text-decoration: none;
}
.wishlistData-removeBtn {
  margin: 0 auto;
  display: block;
  border: unset;
  background: unset;
  padding: 0;
  line-height: 1;
  width: 35px;
  height: 35px;
  font-size: 16px;
  border-radius: 50%;
  transition: 0.35s all ease;
}
.wishlistData-removeBtn:hover {
  background-color: #0769bf;
  color: #fff;
}

.wishlist-thumbnail {
  width: 39px;
  height: 39px;
  object-fit: contain;
  object-position: center;
}

/* Social */
.socialIconList {
  display: flex;
  gap: 10px;
}
.social-icon {
  background-color: #333;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-radius: 5px;
  transition: 0.35s all ease;
}
.socialIconsTitle {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.social-fb {
  background-color: #39599e; /* Facebook Blue */
}

.social-x {
  background-color: #45afe2; /* Twitter X Black */
}

.social-pinterest {
  background-color: #ab2e31; /* Pinterest Red */
}

.social-envelop {
  background-color: #fbb102; /* Gmail Red */
}

.social-whatsapp {
  background-color: #00a901; /* WhatsApp Green */
}

/* Hover effect */
.social-icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
/* Wishlist End */

/* Balance */
.pwgc-balance-form-icon {
  max-width: 112px;
  margin: 0 auto 25px;
  display: block;
}
.pwgc-balance-number-container {
  display: flex;
  max-width: 580px;
  margin: 0 auto;
  gap: 10px;
}
.pwgc-balance-number-container .form-control {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border: 2px solid transparent;
}
.pwgc-balance-number-container .form-control:focus {
  border-color: #0769bf;
}

.pwgc-balance-form {
  padding: 100px 0;
}

.cart-points-message {
  background-color: #0769bf;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  color: #fff;
  margin: 30px 0;
  gap: 16px;
}
.cart-points-message p {
  margin: 0;
}
/* Balance */

/********** SD CSS Start ***********/

/********** My Account css start **********/

.myaccount-items ul {
  padding: 0;
  margin: 0px;
}

.myaccount-items ul li {
  list-style: none;
  padding: 13px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.4;
  transition: all 0.2s ease;
}

.myaccount-items ul li svg {
  transition: all 0.2s ease;
  font-size: 18px;
}

.myaccount-items ul li:nth-child(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.myaccount-items ul li:hover {
  opacity: 1;
}

.myaccount-items ul li.active {
  opacity: 1;
}

.myaccount-items ul li.active svg {
  color: #0769bf;
}

.myaccount-items ul li:hover svg {
  color: #0769bf;
}

.dashboard-tab-txt h6 {
  background: #0769bf;
  padding: 16px;
  font-family: "Fredoka";
  color: #fff;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 30px 0px;
}

.dashboard-tab-txt p span {
  font-weight: 600;
}

.dashboard-tab-txt p a {
  text-decoration-line: none;
}

.no-orders-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0769bf;
  padding: 16px;
}

.no-orders-content p {
  margin: 0px;
  color: #fff;
}

.no-orders-content a {
  text-decoration-line: none;
  font-size: 12px;
  color: #fff;
}

.billing-shipping-adress h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

.billing-shipping-adress button {
  background: transparent;
  border: none;
  color: #0769bf;
  margin: 0px 0px 15px 0px;
}

.billing-shipping-adress button:focus {
  outline: none;
}

.payment-tab-content p {
  margin: 0px;
  padding: 16px;
  background: #0769bf;
  color: #fff;
}

.payment-tab-content {
  margin: 0px 0px 30px 0px;
}

.payment-tab-btn button {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.6s ease;
}

.payment-tab-btn button:hover {
  background-color: #0769bf;
}

.account-details-notice {
  padding: 16px;
  background-color: #0769bf;
  margin: 0px 0px 40px 0px;
}

.account-details-notice p {
  color: #fff;
  margin: 0px;
}

.account-input-field input {
  width: 100%;
  display: block;
  padding: 7px;
  border: 1px solid rgba(32, 7, 7, 0.8);
  border-radius: 5px;
  font-size: 14px;
}

.account-input-field input:focus {
  outline: none;
}

.account-input-field label {
  line-height: 2;
  display: flex;
  align-items: center;
  gap: 3px;
}

.account-input-field {
  margin: 0px 0px 40px 0px;
}

.account-input-field span {
  font-style: italic;
  display: block;
  margin: 3px 0px 0px 0px;
}

.account-input-field label span {
  font-weight: bold;
  font-style: normal;
  margin-top: -4px;
}

.account-input-field p {
  margin: 0px 0px 5px 0px;
}

.low-margin-fields {
  margin: 0px 0px 15px 0px !important;
}

.account-detail-savebtn button {
  padding: 14px 22px;
  font-size: 12px;
  border: none;
  color: #fff;
  margin: 20px 0px 0px 0px;
  background: #0769bf;
  transition: all 0.6s ease;
}

.account-detail-savebtn button:focus {
  outline: none;
}

.account-detail-savebtn button:hover {
  background: #0769bfc4;
}

.billing-input-field input {
  width: 100%;
  display: block;
  padding: 5px 7px;
  border: 1px solid rgba(32, 7, 7, 0.8);
  border-radius: 4px;
  font-size: 14px;
}

.billing-input-field input:focus {
  outline: none;
}

.billing-input-field label {
  margin: 0px 0px 5px 0px;
}

.billing-input-field {
  margin: 0px 0px 15px 0px;
}

.billing-form-head h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.billing-save-btn button {
  border: none;
  padding: 13px 22px;
  font-size: 12px;
  background: #0769bf;
  color: #fff;
  transition: all 0.6s ease;
}

.billing-save-btn button:hover {
  background: #0769bfd6;
}

.billing-save-btn button:focus {
  outline: none;
}

.billing-input-field label span {
  font-weight: 700;
}

.billing-input-field select {
  display: block;
  width: 100%;
  padding: 7px 7px;
  border: 1px solid rgba(32, 7, 7, 0.8);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
}

.billing-input-field select:focus {
  outline: none;
}

.billing-country-select option[value=""] {
  color: #999;
}

.password-field {
  position: relative;
}

.password-field .eye-icon {
  position: absolute;
  right: 10px;
  top: 1px;
}

.my-points-head h2 {
  text-transform: capitalize;
  font-size: 50px;
  line-height: 56px;
  font-weight: 700;
}

.point-box-redeem {
  padding: 20px 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

.point-box-redeem h5 {
  text-transform: uppercase;
  color: #9f9c9c;
  font-size: 14px;
  font-weight: normal;
}

.point-box-redeem h3 {
  font-size: 30px;
  font-weight: 400;
}

.point-box-redeem h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
}

.manage-points-tabs .react-tabs .react-tabs__tab-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  border-bottom: 1px inset lightgray;
}

.manage-points-tabs .react-tabs .react-tabs__tab-list li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
}

.manage-points-tabs .react-tabs .react-tabs__tab-list li:focus {
  outline: none;
}

.manage-points-tabs
  .react-tabs
  .react-tabs__tab-list
  li.react-tabs__tab--selected {
  border-bottom: 2px outset #333 !important;
}

.point-tabs-content {
  margin: 30px 0px 0px 0px;
}

.manage-points-tabs .react-tabs .react-tabs__tab-panel {
  margin: 20px 0px 0px 0px;
}

.manage-point-tab-content {
  background: #f5f5f5;
  padding: 40px;
  border-radius: 10px;
}

.manage-point-tab-content h3 {
  font-size: 48px;
  margin: 0px 0px 20px 0px;
  font-family: "Playfair Display", serif;
}

.manage-point-tab-content p {
  margin: 0px 0px 24px 0px;
}

.manage-point-tab-content span {
  color: red;
  font-size: 12.8px;
  margin: 0px 0px 20px 0px;
  display: block;
}

.ordertable-buttonflex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.products-orber-table table tbody tr td span {
  font-weight: 500;
}

.products-orber-table table thead tr th {
  font-weight: 500;
}

.products-orber-table table tbody tr td {
  font-weight: 400;
}

.download-file-btn {
  background-color: #7f54b3;
  color: #fff;
  font-size: 12px;
}

.download-file-btn:hover {
  background-color: #0769bf;
  color: #fff;
}

.download-file-btn:focus {
  outline: none;
}

.products-download-table table tbody tr td span {
  font-weight: 500;
}

.products-download-table table thead tr th {
  font-weight: 500;
}

.products-download-table table tbody tr td {
  font-weight: 400;
  font-size: 14px;
}

/********** My Account css End **********/

/********** Product Detail Page css Start **********/

.product-detail-image img {
  width: 100%;
}

.product-detail-txt h2 {
  font-size: 50px;
  line-height: 56px;
  color: #0769bf;
  font-weight: 700;
}

.product-detail-txt .priceRange {
  color: #0769bf;
  font-weight: 600;
  font-size: 30px;
}

.purchase-item-point p {
  margin: 0;
  padding: 10px 25px;
  background: #e4f6f3;
  width: fit-content;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.purchase-item-point p svg {
  font-size: 22px;
}

.purchase-item-point p span {
  color: #0769bf;
  font-weight: 600;
}

.product-size label {
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}

.purchase-item-point {
  margin: 30px 0px 30px 0px;
}

.product-size select {
  border: none;
  width: auto;
  padding: 10px;
  background: transparent;
  font-size: 14px;
  display: block;
}

.product-size select:focus {
  outline: none;
}

.product-counter button {
  background: #fff;
  color: #666;
  border: none;
  padding: 8px 14px;
  border-radius: 50px;
  font-size: 18px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
  line-height: normal;
}

.product-counter button:hover {
  background-color: #0769bf;
  color: #fff;
}

.product-counter {
  margin: 40px 0px 40px 0px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.product-counter span {
  font-size: 20px;
  font-weight: 600;
}

.cart-wishlist-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-wishlist-btn .cartbtn {
  font-size: 16px;
  padding: 15px 45px;
  transition: all 0.2s ease;
  border: none;
  width: fit-content;
  color: #fff;
  background: #0769bf;
}

.cart-wishlist-btn .wishlistbtn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #0769bf;
  margin: 20px 0px 0px 0px;
}

.cart-wishlist-btn .wishlistbtn svg {
  font-size: 24px;
  color: #000;
}

.description-additional-tabs .react-tabs .react-tabs__tab-list {
  margin: 0px 0px 70px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.description-additional-tabs .react-tabs ul .react-tabs__tab {
  list-style: none;
  cursor: pointer;
  margin: 4px 20px;
  font-size: 18px;
}

section.additional-information {
  margin: 50px 0px 50px 0px;
  padding: 80px 0px 40px 0px;
}

.description-tab-text {
  text-align: center;
}

.description-additional-tabs
  .react-tabs
  .react-tabs__tab-list
  .react-tabs__tab--selected {
  border-bottom: none;
  color: #000;
}

.description-additional-tabs .react-tabs__tab-list {
  display: flex;
  position: relative;
}

.description-additional-tabs .react-tabs__tab {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.description-additional-tabs .react-tabs__tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #000;
  transition: width 0.3s ease;
}

.description-additional-tabs .react-tabs__tab--selected::after {
  width: 100%;
}

.description-additional-tabs .react-tabs ul .react-tabs__tab:focus {
  outline: none;
}

.description-tab-text h3 {
  color: #333333;
  font-family: "Fredoka" !important;
  font-weight: 600;
  font-size: 26px;
  line-height: 56px;
}

.description-tab-text p {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 7px;
}

.description-tab-text h6 {
  color: #10a0cc;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 700;
}

.additional-information-box {
  display: flex;
  align-items: center;
}

table.additional-information-table tbody tr th {
  border: 1px solid #ececec;
  padding: 10px;
  width: 20%;
}

table.additional-information-table tbody {
  background: #fff;
  border: 1px solid #ececec;
}

table.additional-information-table {
  width: 100%;
}

table.additional-information-table tbody tr th {
  border: 1px solid #ececec;
  padding: 10px;
  width: 12%;
}

table.additional-information-table tbody tr td p {
  margin: 0px;
  padding: 8px 0px;
}

table.additional-information-table tbody tr td {
  padding: 10px;
}

.sku-categories-tags p {
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.sku-categories-tags {
  margin: 10px 0px 0px 0px;
}

.sku-categories-tags p a {
  position: relative;
  text-decoration: none;
  transition: all 0.6s ease;
}

.sku-categories-tags p a::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background: #000;
  bottom: 0px;
  transition: all 0.6s ease;
}

.sku-categories-tags p a:hover:before {
  width: 100%;
}

.sku-categories-tags p a:hover {
  color: #000;
}

.product-detail-images {
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 0px;
  gap: 20px;
}

.product-detail-images img {
  width: 100px;
  height: 100px;
}

.main-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.zoom-icon-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  z-index: 2;
}

.thumbnail-slider .slick-slider .slick-list .slick-track {
  display: flex;
  align-items: center;
  width: 96px !important;
  gap: 10px;
}

.thumbnail-slider
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide.slick-active
  .thumb-wrapper
  .thumb-img {
  width: 96px;
  height: 96px;
}

/********** Product Detail Page css End **********/

/********** Responsive CSS Start **********/

@media only screen and (max-width: 786px) {
  .authForms .nav-tabs {
    margin: 0px 0px 50px 0px !important;
  }

  .page-content {
    margin: 50px 0px 0px 0px;
}

.order-table-box {
    overflow-x: auto;
}

}

@media only screen and (max-width: 600px) {
  .instaLink {
    font-size: 30px;
  }

  .secTitle {
    font-size: 40px;
    line-height: 46px;
  }

  .woocommerce-result-count {
    display: none;
  }

  .woocommerce-filters {
    flex-direction: column;
  }

  .woocommerce-ordering {
    max-width: 100%;
  }

  .newDesignSec .address {
    min-height: auto;
    margin: 0px 0px 10px 0px;
  }

  .authForms .nav-tabs .nav-link {
    font-size: 24px;
  }

  .authForms .nav-tabs {
    margin: 0px 0px 40px 0px !important;
  }

  .authFormBtn {
    margin-top: 20px;
  }

  .needSheetsContent h5 {
    font-size: 20px;
    line-height: 30px;
  }

  .checkoutActionDiv {
    flex-direction: column;
  }

  .checkoutActionDiv .proceedToCheckout {
    border: 0;
    flex: 0 0 40px;
  }

  .proceedToCheckout {
    padding: 12px 40px;
  }

  .cart-item {
    gap: 10px;
  }

  .cart-item-content {
    gap: 8px;
  }

  .cart-item-qtySelector p {
    min-width: auto;
  }

  .cartOrderSummery {
    margin: 60px 0px 0px 0px;
  }

  .wishlistData {
    overflow-x: scroll;
  }

  .pageTitle {
    font-size: 40px;
    line-height: 46px;
  }

  .pwgc-balance-form {
    padding: 50px 0;
  }

  .pwgc-balance-form-icon {
    max-width: 80px;
    margin: 0 auto 25px;
    display: block;
  }

  .pwgc-balance-number-container {
    max-width: fit-content;
    flex-direction: column;
  }

  .order-table-box {
    overflow-x: auto;
  }

  .page-content {
    margin: 50px 0px 0px 0px;
  }

  .downlaod-table-box {
    overflow-x: auto;
  }

  .billing-shipping-adress h2 {
    font-size: 34px;
  }

  .my-points-head h2 {
    font-size: 40px;
  }

  .manage-point-tab-content h3 {
    font-size: 30px;
  }

  .manage-point-tab-content {
    padding: 20px;
  }

  .themeBreadCrumb ol {
    margin: 0px;
  }
}
