.screen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #02020273; /* or your theme color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .loader-logo {
    width: 220px;
    height: auto;
    margin-bottom: 16px;
  }
  
  .loader-text {
    font-size: 20px;
    font-weight: 500;
    color: #555;
  }
  .loader-text svg{
    stroke: #0058dd;
  }
  